.form {
  display: flex;
  flex-direction: column;

  & input {
    width: 100%;
    margin-bottom: 1rem;
  }

  & svg {
    color: var(--main-text-color);
    width: 32px;
    height: auto;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;

    &:hover {
      color: var(--orange-color);
    }
  }
}

.user_panel {
  position: absolute;
  top: 4.5rem;
  width: 10rem;
  border: 1px solid var(--outline-color);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.5rem;
  background-color: var(--light-bg-color);

  & a {
    margin: 0;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--secondary-text-color);
    cursor: pointer;

    &:hover {
      color: var(--main-text-color);
    }
  }
}
