.portfolio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.75rem;
  padding: 0.625rem 0;
  overflow-x: scroll;

  & article {
    padding: 0.75rem;
    outline: 1px solid var(--outline-color);
    border-radius: 16px;

    &:hover {
      outline: 1px solid var(--orange-color);
      transform: translate(0px, -5px);
      transition: transform 0.3s ease-in-out;
    }
  }

  & img,
  p {
    font-size: 0.875rem;
    line-height: 1.38;
    text-align: center;
    color: var(--secondary-text-color);
    padding-bottom: 0.5rem;
  }

  & p:first-of-type {
    font-size: 0.75rem;
    color: var(--dark-text-color);
  }

  & span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
