.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  & span {
    cursor: default;
    outline: solid 1px var(--outline-color);
    border-radius: 16px;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1.25rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
}
