header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: var(--secondary-bg-color);
  color: (var(--orange-color));
}

.userButton {
  margin-left: auto;
}

i {
  font-size: 1.5rem;
}
