.navbar{
  display: flex;
  align-items: center;
  max-width: 37.5rem;
  margin: 1rem auto;
  gap: 1rem;

}

.navlink {
  display: flex;
  margin: 0.5rem;
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: var(--main-text-color);
}

.currency_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}