* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(0, 0, 0);
  --secondary-bg-color: #0d0d0d;
  --light-bg-color: #1a1a1a;
  --main-text-color: #ffffff;
  --secondary-text-color: rgb(179, 179, 179);
  --dark-text-color: rgb(102, 102, 102);
  --outline-color: rgb(38, 38, 38);
  --orange-color: #ff9332;
  --green-color: #6ccf59;
  --red-color: #ff4d4d;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}
