.justifyAlignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.red {
  color: var(--red-color);
}

.green {
  color: var(--green-color);
}

.orange {
  color: var(--orange-color);
}
