.hero {
  padding: 4rem 1.25rem 1.25rem;
  text-align: center;

  & h1 {
    margin-bottom: 1rem;
  }

  & p {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 1.25rem;
  }
}

